.DS_Store
.idea/
hub/.idea/
spring/src/remote/dist/
spring/src/remote/.sass-cache/
spring/src/remote/logs/
spring/src/remote/bower_components/
spring/src/remote/node_modules/
hub/target/
web/app/bower_components/
*.iml
.musicapps-project-folder
web/node_modules/
web/bower_components/
web/npm-debug.log
web/secret.json
web/public/css/

# Elastic Beanstalk Files
#.elasticbeanstalk/*
#!.elasticbeanstalk/*.cfg.yml
#!.elasticbeanstalk/*.global.yml