body {
    background-color: #aaaaaa;
}
.arrow {
    font-size: 60pt;
    text-align: center;
    vertical-align: middle;
    /*background-image: url('../img/play106.svg');*/
}
.action {
    /*background-image: url('../img/record14.svg');*/
}
.gameButton {
    /*width: 100px;*/
    /*height: 100px;*/
    /*margin:0px;*/
    /*padding:0px;*/
    /*-webkit-background-size: 100px, 100px;*/
    /*background-size: 100px, 100px;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
}
.arrowUp {
     /*-webkit-transform: rotate(-90deg);*/
     /*-moz-transform: rotate(-90deg);*/
     /*-ms-transform: rotate(-90deg);*/
     /*-o-transform: rotate(-90deg);*/
     /*transform: rotate(-90deg);*/
 }
.arrowDown {
    /*-webkit-transform: rotate(-270deg);*/
    /*-moz-transform: rotate(-270deg);*/
    /*-ms-transform: rotate(-270deg);*/
    /*-o-transform: rotate(-270deg);*/
    /*transform: rotate(-270deg);*/
}
.arrowLeft {
    /*-webkit-transform: rotate(180deg);*/
    /*-moz-transform: rotate(180deg);*/
    /*-ms-transform: rotate(180deg);*/
    /*-o-transform: rotate(180deg);*/
    /*transform: rotate(180deg);*/
}
.arrowKeys {
    float: left;
    margin-top: 2em;
}
.buttons {
    /*float: right;*/
    margin-top: 9em;

}
.buttons div {
    float: right;
    margin-left: 0.5em;
    font-size: 60pt;
}

.selected {
    color: #00B5FF;
}