<div class="padding" ng-controller="GamepadController">
    <section class="arrowKeys">
        <table>
            <tr>
                <td></td>
                <td class="gameButton arrow arrowUp" ng-touchstart="buttonDown('arrowUp')" ng-touchend="buttonUp('arrowUp')" ng-class="{'selected':selected==1}">
                    <i class="fa fa-arrow-up"></i>
                </td>
                <td></td>
            </tr>
            <tr>
                <td class="gameButton arrow arrowLeft" ng-touchstart="buttonDown('arrowLeft')" ng-touchend="buttonUp('arrowLeft')" ng-class="{'selected':selected==2}">
                    <i class="fa fa-arrow-left"></i>
                </td>
                <td></td>
                <td class="gameButton arrow arrowRight" ng-touchstart="buttonDown('arrowRight')" ng-touchend="buttonUp('arrowRight')" ng-class="{'selected':selected==3}">
                    <i class="fa fa-arrow-right"></i>
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="gameButton arrow arrowDown" ng-touchstart="buttonDown('arrowDown')" ng-touchend="buttonUp('arrowDown')" ng-class="{'selected':selected==4}">
                    <i class="fa fa-arrow-down"></i>
                </td>
                <td></td>
            </tr>
        </table>
    </section>
    <section class="buttons">
        <div class="gameButton action action1" ng-touchstart="buttonDown('a')" ng-touchend="buttonUp('a')" ng-class="{'selected':selected==5}">
            <i class="fa fa-circle"></i>
        </div>
        <div class="gameButton action action2" ng-touchstart="buttonDown('b')" ng-touchend="buttonUp('b')" ng-class="{'selected':selected==6}">
            <i class="fa fa-circle"></i>
        </div>
    </section>
</div>