doctype html
html(ng-app="come-again")
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        script(src='/lib/angular/angular.min.js')
        script(src='/javascripts/app.js')
        block content