doctype html
html(ng-app="comeAgain")
    head
        meta(charset='utf8')
        base(href='/')
        title Come Again
        link(rel='stylesheet', href='/css/global.css')
    body
        block body
