doctype html
html(ng-app="comeAgain")
    head
        meta(charset='utf8')
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="mobile-web-app-capable" content="yes")
        base(href='/')
        title Civil Haze
        link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='/css/main.css')
    body
        block body
