extends layout

block content
    div(ng-controller="ControllerController")
        button(ng-click="up()") UP
        button(ng-click="down()") DOWN
        button(ng-click="left()") LEFT
        button(ng-click="right()") RIGHT
    script(src="/javascripts/ControllerController.js")
