<div class="padding voting" ng-controller="VotingController">
    <p>Because of your friend's foolishness, you are back in your prison cell. You find an opportunity to attempt another escape.</p>
    <p>{{status}}</p>

    <hr />
        <ul ng-repeat="player in players">
            <li ng-class="selection[player.id]?'nameSelect':'nameDeselect'" ng-click="selection=setSelection(player.id)">{{player.name}}
            </li>
            <hr />
        </ul>
    <button class="button button-block button-balanced" ng-click="vote()">Vote</button>
</div>