span(class="container-fluid")
    span(class="col-xs-4")
    span(ng-touchstart="buttonOn('up')" ng-touchend="buttonOff('up')" class="col-xs-4 arrowKey")
    span(class="col-xs-4")
    span(ng-touchstart="buttonOn('left')" ng-touchend="buttonOff('left')" class="col-xs-4 arrowKey")
    span(class="col-xs-4")
    span(ng-touchstart="buttonOn('right')" ng-touchend="buttonOff('right')" class="col-xs-4 arrowKey")
    span(class="col-xs-4")
    span(ng-touchstart="buttonOn('down')" ng-touchend="buttonOff('down')" class="col-xs-4 arrowKey")
    span(class="col-xs-4")
    p(class="col-xs-12") {{status}}
    p
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf
        | dsjkfhdsfjk ldhskj dskhf dksfdhksljfds jfhds klfhsdk lsdkjfhsdk lfhksdhfdksjf hdskjf lhsdlk fdhskj fsdf sdf