div(ng-correct-rotation="desiredRotation" class="fullscreen" ng-style="{background: color}")
    canvas(ng-joystick num-angles="64" num-magnitude="8" height="1000" width="1000" ng-style="{background: color}")
    div(id="rightSide")
        div(id="innerButton" ng-button)