div(ng-correct-rotation="desiredRotation" class="fullscreen")
    canvas(ng-joystick num-angles="12" num-magnitude="5" height="1000" width="1000")
    //div(id="rightSide")
    //    button(ng-click="buttonOn('Main_Theme')") Main Theme
    //    br
    //    button(ng-click="buttonOn('cell')") Trapped In Cell
    //    br
    //    button(ng-click="buttonOn('happy_man')") Happy Man
    //    br
    //    button(ng-click="buttonOn('dark_dabble')") Scary Man